.contact-input {
   margin-top: .5rem;
   margin-bottom: .5rem;
   width: 100%;
   border-radius: .375rem;
   border-width: 1px;
   --tw-border-opacity: 1;
   border-color: rgb(209 213 219 / var(--tw-border-opacity));
   padding: .5rem 1rem
}

.navbar-span {
   cursor: pointer;
   border-radius: 9999px;
   border-width: 1px;
   --tw-border-opacity: 1;
   border-color: rgb(107 114 128 / var(--tw-border-opacity));
   padding: .5rem
}

.navbar-span:hover {
   --tw-bg-opacity: 1;
   background-color: rgb(255 255 255 / var(--tw-bg-opacity));
   --tw-text-opacity: 1;
   color: rgb(107 114 128 / var(--tw-text-opacity))
}