div{
   display: block;
}

.btn-blue {
   border-radius: .5rem;
   --tw-bg-opacity: 1;
   background-color: rgb(37 99 235 / var(--tw-bg-opacity));
   padding: .75rem
}
.bg-color {
   background: linear-gradient(155deg,#383638 2.06%,#0b0b0b 33.08%)
}
