//out: false
.outline {
    width: 8rem;
    height: 2rem;
    outline-style: none !important;
    border: none;
    
}
.active {
    border-bottom: 3px solid red;
}

.review-content{
    .rating {
        width: 100%;
        height: 100%;
        .overallRating{
            background-color: rgb(255, 179, 37);
        }
        .ratingDetail{
        }
    }
}

.product-thumbnail{
    display: flex;
    cursor: pointer;
    transition: transform 0.5s ease;
    img{
        width: 6rem;
        height: 5rem;
        object-fit: contain;
    }
}

.active-thumbnail{
    border: 1px solid rgb(8, 8, 255);
    opacity: 1;
}

.unactive-thumbnail {
    // border: 1px solid #e0e0e0;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
}

.main-image {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 80%;
        object-fit: contain;
        aspect-ratio: 1/1;
    }
}

.turnPic {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    background-color: rgb(59 130 246);
    border-radius: 50%;
    position: absolute;
    &:hover {
        background-color: rgb(8, 100, 247); }
    .turnPic-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
            // background-color: rgba(0, 0, 0, 0.8);
        }
    }
    &.left {
        left: -6%;
        bottom: 4%;
    }
    &.right {
        right: -6%;
        bottom: 4%;
    }
}