.thumbnail {
  /* aspect-ratio: 3/2; */
  background-color: transparent;
  height: 60%;
}

.product-container {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  height: 350px; /* Thay đổi chiều cao thành giá trị mong muốn */
}

.sidebar {
  width: 21%;
}

.list {
  width: 79%;
}
