//out: false
.thumbnail {
  background-color: transparent;
  height: 58%;
}

.product-container {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  height: 340px; 
}

.sidebar {
  width: 20%;
}

.list {
  width: 80%;
}

.showList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  .product-container {
    &:hover {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
  }
}
